@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@500&family=Roboto+Slab:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}
header::before{
content: '';
background-image: url(./img/developer.png);
position: absolute;
width: 100%;
height: 100%;
background-position: center center;
background-repeat: no-repeat;
background-size: 100%;
z-index: -1;
}
header{
color: white;
width: 100%;
height: 100vh;
}
.head-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.head-txt h3{
    font-weight: 400;
}
.head-txt h3 span{
    font-size: 34px;
    font-weight: 400;
    
}
.head-txt h2{
    font-size: 50px;
    font-weight: 400;
}
/* -------------- Section_1 -------------- */
.main{
    background-color: black;
    height:100%;
    width: 100%;
    color: white;
    padding: 20px 34px;
    text-align: center;
    
}
.main-txt p{
    font-size: 49px;
}
.main-txt p span{
    font-size: 88px;
}

/* -------------- Section_2 -------------- */
  
.course-content{
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    display: grid;
    width: 300px;
    margin: 20px 34px;
    border: 1px solid #eaf1df96;
    background-color: #eaf1df96;
    gap: 15px;
    padding-bottom: 50px;
    border-radius: 10px;
}
.box img{
    width: 300px;
    display: block;
}
.box span{
    font-size: 28px;
    font-weight: 400;
    padding: 0px 20px;
}
.box p{
    text-align: justify;
    padding: 0px 20px;
}

/* -------------- Section_3 -------------- */
.about{
background-color: greenyellow;
color: white;
}
.about-sec{
    display: flex;
    background-color: goldenrod;
    
}
.about-cont{
    padding: 20px 34px;
    margin: 20px 34px;
}
.about-cont span{
    font-size: 30px;
    color: black;
    font-weight: 700;
    text-shadow: 1px 0.3px white;
}
.about-cont p{
    margin-top: 20px;
}
.foot{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    animation: footer alternate  3s infinite;
}
.foot-cont{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.foot-cont:hover{
    transition: all 0.3s ease-in-out;
    background-color: blueviolet;
    cursor: pointer;
    color: black;
}


